extends layout

block content
	.loginContainer
		- if (invalidCredentials)
			.alert.alert-danger Identifiants invalides. Veuillez réessayer.
		.loginForm
			form(role="form", action="/login", method="post")
				input#username.form-control(placeholder="Nom d'utilisateur")
				input#password.form-control(type="password", placeholder="Mot de passe")
				button.btn.btn-primary(type="submit") Connexion