body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  margin-top: 0px;
}
h3,
h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*
* Counter page
*/
.projectcolumn {
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
  width: 100%;
}
.counter {
  text-align: center;
  width: 100%;
  color: #4682b4;
  font-size: 32px;
  height: 60px;
  padding-top: 15px;
}
.center {
  text-align: center;
}
.title {
  height: 36px;
}
.counter.large {
  font-size: 48px;
  height: 80px;
  padding-top: 20px;
}
.counter.small {
  font-size: 16px;
  height: 40px;
  padding-top: 15px;
}
.fixedImgContainer {
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 180px;
  width: 100%;
  text-align: center;
}
.smallImgContainer {
  height: 65px;
}
.projectimg {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
.fs24 {
  font-size: 24px;
}
.fs20 {
  font-size: 20px;
}
.fs16 {
  font-size: 16px;
}
.margin-top20 {
  margin-top: 20px;
}
.margin-top10 {
  margin-top: 10px;
}
.target {
  margin-top: 20px;
  height: 20px;
}
.target-progressbar {
  margin-top: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #808080;
}
/*
* Menu page
*/
.menuContainer {
  margin-top: 150px;
  text-align: center;
}
.menu {
  display: inline-block;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  padding: 5px;
  border-radius: 3px;
}
.menu > a {
  width: 100%;
}
.menu > button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
* Login page
*/
.loginContainer {
  margin-top: 150px;
  text-align: center;
}
.loginForm {
  display: inline-block;
  height: 150px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
.loginForm > form > input {
  margin-top: 6px;
  margin-bottom: 6px;
}
.loginForm > form > button {
  margin-top: 6px;
  margin-bottom: 6px;
}
/*
* Search page
*/
.donor-search-block {
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.donor-search {
  width: 200px;
  display: inline-block;
  margin-right: 6px;
}
.checkboxLabel {
  margin-left: 4px;
}
#writers {
  margin-top: 10px;
}
